.home-about {
    display: flex;
    padding: 100px 10px;
}
.home-about .left {
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-right: 0;
}

.home-about .left img{
    /* height: 100%; */
    border-radius: 16px;
    width: 90%;
    transition: all 333ms ease-in-out;
}
.home-about .left img:hover {
    transform: rotate(-6deg);
}

.home-about .right{
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 10px 50px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px 20px;
}
.home-about .right h1 {
    font-size: 36px;
    font-weight: 700;
}
.home-about .right h1 span {
    font-weight: 400;
}
.home-about .right p {
    font-size: 16px;
    line-height: 1.6;
}

@media screen and (max-width: 768px) {
    .home-about {
        padding: 100px 10px;
        flex-direction: column;
    }
    .home-about .left img {
        width: 96%;
    }
    .home-about .right {
        padding: 20px;
        text-align: start;
    }
    .home-about .right h1 {
        font-size: 34px;
    }

}